page-login {

  .login-app-logo {
    width: 60%;
    height: 60%;
    display: block;
    margin: auto;
  }

  .login-item {
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #f1c40f;
    color: white;
  }

  //.login-facebook {
  //  margin-top: 12px;
  //}

  .login-button {
    margin-top: 16px;
  }
}
